streamlit
mysql-connector-python
ollama
pyodbc
fastapi
uvicorn[standard]
python-jose[cryptography]
pydantic
psycopg2-binary
oracledb
pymongo
redis
python-docx
PyPDF2
pypdf
chromadb
sentence-transformers
pandas
httpx
python-multipart
openpyxl
